<P>ようこそ、ながのCAKEへ！<br>
　 このサイトは、ケーキ販売のECサイトになります。<br>
　 会員でない方も商品の閲覧はできますが、<br>
   購入には会員登録が必要になります。</p>

<h2>新着商品</h2>
<table>
<% @items.each do |item| %>
<tr>
 <td>
 <% if item.image.attached? %>
  <%= image_tag item.image, size: "100x100" %>
 <% else %>
  <%= image_tag 'no_image', size: "100x100" %>
 <% end %>
</td>
</tr>
<tr>
 <td><%= item.name %></td>
</tr>
<tr>
 <td>￥<%= item.price.to_s(:delimited) %></td>
</tr>
<% end %>
<tr>
<td><%= link_to '全ての商品を見る＞' %></td>
</tr>
</table>
