 <div class="container">
   <div class="row my-5">
     <div class="col-md-3">
       <% if @item.image.attached? %>
         <%= image_tag @item.image, size: "300x300" %>
       <% else %>
         <%= image_tag 'no_image', size: "300x300" %>
       <% end %>
     </div>
     <div class="col-md-9">
       <table class="offset-3 mt-5" cellpadding="10">
         <tbody>
           <tr>
             <th style="font-size : 20px;"><%= @item.name %></th>
           </tr>
           <tr>
             <td><%= @item.introduction %></td>
           </tr>
           <tr>
             <th style="font-size : 20px;">￥<%= @item.price.to_s(:delimited) %>(税込)</th>
           </tr>
           <%= form_with model: @cart_item do |f| %>
           <tr>
             <td><%= f.select :amount, *[1..10] %></td>
             <%= f.hidden_field :customer_id, :value => current_customer.id %>
             <%= f.hidden_field :item_id, :value => @item.id %>
             <td><%= f.submit "カートに入れる", class: "btn btn-success" %></td>
           </tr>
           <% end %>
         </tbody>
       </table>
     </div>
  </div>
</div>